.projects-bg-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  background-color: #0a2442;
  font-family: 'Roboto';
  color: #ffffff;
  padding: 40px 80px 40px 30px;
}

.my-projects {
  font-family: 'Roboto';
  color: #ffffff;
  font-size: 35px;
  font-weight: 500;
  margin-bottom: 0;
  text-decoration: underline;
}

.skills-btn {
  width: 120px;
}

@media screen and (max-width: 768px) {
  .projects-bg-container {
    width: 100%;
    padding: 40px 20px 60px 20px;
  }

  .my-projects {
    font-size: 20px;
  }

  .skills-btn {
    margin-top: 0px;
    width: 100px;
  }
}
