.about-main-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  background-color: #0a2442;
  font-family: 'Roboto';
  color: #ffffff;
  font-size: 20px;
}

.social-media-icon-about-div {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 8px 4px 8px 4px;
  width: 50px;
  height: 210px;
  background-color: #ffffff;
  border-radius: 4px;
}

.about-me-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 370px;
}

.about-btn {
  font-family: 'Roboto';
  font-size: 17px;
  font-weight: 600;
  border-radius: 4px;
  color: #ffffff;
  border: 0px;
  background-color: #ee6e19;
  width: 170px;
  height: 45px;
  cursor: pointer;
  outline: none;
}

.about-mobile-icon-div {
  display: none;
}

.my-name {
  font-family: fantasy;
  margin-left: 4px;
}

.about-desc {
  width: 700px;
  font-size: 21px;
  font-weight: 500;
  margin: 20px 0px 60px 0px;
  line-height: 30px;
  text-align: center;
}

.about-main-h1 {
  font-size: 28px;
  font-weight: 400;
}

.social-media-icon-about {
  font-size: 40px;
  padding: 8px;
  color: #0a2442;
}

@media screen and (max-width: 768px) {
  .about-main-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 0px;
  }

  .about-mobile-icon-div {
    display: flex;
    justify-content: space-around;
    width: 240px;
    margin-bottom: 20px;
    margin-top: 0px;
  }

  .social-media-icon-about-div {
    display: none;
  }

  .about-me-div {
    margin: 0px;
  }

  .about-desc {
    width: 280px;
    font-size: 15px;
    margin-bottom: 20px;
  }

  .about-main-h1 {
    font-size: 20px;
    margin-top: 0px;
  }

  .about-btn {
    font-size: 15px;
    width: 140px;
    height: 35px;
    margin-top: 20px;
  }
}
