.courses-main-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  font-family: 'Roboto';
  color: #0f1635;
  background-image: linear-gradient(
    to left,
    rgba(225, 94, 94, 0),
    rgb(226, 222, 222)
  );
  padding: 20px 20px 40px 20px;
}

.courses-h1 {
  font-size: 30px;
  font-weight: 500;
  text-align: center;
  text-decoration: underline;
}

.courses-p {
  font-size: 20px;
  align-self: flex-start;
}

.courses-ul {
  display: flex;
  align-items: center;
  width: 1490px;
  flex-wrap: wrap;
  margin: 0px;
  padding: 0px;
}

.courses-li {
  list-style-type: none;
  width: 350px;
  background-color: #ffffff;
  border-radius: 10px;
  height: 450px;
  margin-right: 20px;
  margin-bottom: 50px;
  padding-bottom: 10px;
}

.courses-img {
  width: 350px;
  height: 250px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin-bottom: 10px;
}

.courses-name {
  padding-left: 10px;
  color: #0f1635;
  font-size: 20px;
  margin-top: 5px;
  font-weight: 500;
  margin-bottom: 0px;
}

.courses-detail {
  font-size: 16px;
  padding: 0px 10px 0px 10px;
  margin-bottom: 10px;
  margin-top: 10px;
}

@media screen and (max-width: 768px) {
  .courses-main-div {
    width: 100%;
  }

  .courses-h1 {
    font-size: 25px;
  }

  .courses-ul {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .courses-li {
    width: 300px;
    height: auto;
    padding-bottom: 10px;
  }

  .courses-img {
    width: 300px;
    height: 200px;
    margin-bottom: 10px;
  }
  .courses-detail {
    font-size: 15px;
  }
}
