.sidebar-bg {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 290px;
  background-color: rgb(5, 4, 4);
}

.profile-bg-dis-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  backdrop-filter: blur(5px);
}

.profile-bg-div {
  display: none;
  width: 100%;
  min-height: 100vh;
}

.profile-msg {
  font-family: 'Roboto';
  font-size: 35px;
  font-weight: 500;
  color: #ffffff;
  margin-top: 50px;
  margin-bottom: 30px;
}

.profile-about-btn {
  font-family: 'Roboto';
  font-size: 17px;
  font-weight: 600;
  border-radius: 4px;
  color: #ffffff;
  border: 0px;
  background-color: #ee6e19;
  width: 120px;
  height: 35px;
  cursor: pointer;
  outline: none;
}

.profile-btn {
  background-color: transparent;
  border: 0;
  cursor: pointer;
  outline: none;
}

.profile-img-view {
  width: 200px;
  height: 200px;
  border-radius: 4px;
  box-shadow: 5px 5px 30px 15px #f1e1e1;
}

.cancel-logo {
  margin-bottom: 24px;
  font-size: 25px;
  margin-left: 400px;
  cursor: pointer;
  outline: none;
}

@media screen and (max-width: 767px) {
  .sidebar-bg {
    width: 100%;
    padding: 50px 10px 50px 10px;
  }

  .profile-img-view {
    width: 120px;
    height: 120px;
    border: 5px solid #535050;
    border-radius: 70px;
    box-shadow: none;
  }

  .profile-msg {
    font-size: 20px;
    margin-top: 30px;
  }

  .profile-about-btn {
    font-size: 15px;
    width: 110px;
    height: 35px;
  }

  .cancel-logo {
    font-size: 20px;
    color: #ffffff;
    margin-left: 200px;
  }
}

.profile-img-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.profile-img {
  width: 120px;
  border-radius: 80px;
  border: 5px solid #535050;
}

.name {
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 20px;
  font-weight: 500;
}

.social-media-icon-div {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 240px;
  margin-top: 20px;
  margin-bottom: 5px;
}

.social-media-icon {
  font-size: 40px;
  padding: 8px;
  border: 2px solid #ffffff;
  border-radius: 80px;
  color: #ffffff;
}

.details-div {
  align-self: flex-start;
  font-family: 'Roboto';
  color: #ffffff;
  font-size: 20px;
  margin-top: 20px;
  margin-left: 10px;
}

.info-div {
  display: flex;
  align-items: center;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

.detail-p {
  margin-left: 10px;
}

.detail-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #ffffff;
}
