.certifications-bg-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  background-color: #0a2442;
  font-family: 'Roboto';
  color: #ffffff;
  font-size: 20px;
  padding-top: 40px;
  padding-bottom: 60px;
}

.cert-h1 {
  font-family: 'Roboto';
  color: #ffffff;
  font-size: 35px;
  font-weight: 500;
  text-decoration: underline;
  margin-bottom: 0;
}

.cert-h1-db {
  font-family: 'Roboto';
  color: #ffffff;
  font-size: 35px;
  font-weight: 500;
  margin-bottom: 0;
  text-decoration: underline;
  margin-top: 80px;
}

.cert-hr-line-dashed {
  width: 1470px;
  border: 0px;
  border-top: 2px dashed #ffffff;
  margin-top: 50px;
}

.cert-hr-line {
  width: 1470px;
  margin-top: 40px;
  margin-bottom: 20px;
}

.cert-hading-div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1460px;
  margin-top: 40px;
}

.cert-link-element {
  font-size: 20px;
  color: #75a6e6;
}

.cert-name {
  font-family: 'Roboto';
  color: #ffffff;
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 0;
}

@media screen and (min-width: 768px) {
  .key-points-div {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
  }

  .key-points-ul {
    display: flex;
    align-items: center;
    width: 1500px;
    height: 100px;
    flex-wrap: wrap;
  }

  .key-points-li {
    margin: 20px;
  }
}

@media screen and (max-width: 768px) {
  .certifications-bg-div {
    width: 100%;
    padding: 40px 20px 60px 20px;
  }

  .cert-h1 {
    font-size: 20px;
  }

  .cert-hr-line {
    width: 330px;
    margin-bottom: 10px;
  }

  .cert-hr-line-dashed {
    width: 330px;
    margin-bottom: 10px;
  }

  .cert-hading-div {
    width: 360px;
    justify-content: space-around;
    align-items: center;
  }

  .cert-name {
    font-size: 13px;
    width: 100px;
  }

  .cert-h1-db {
    font-size: 20px;
  }

  .key-points-ul {
    width: 360px;
    margin-bottom: 10px;
  }

  .cert-link-element {
    font-size: 12px;
  }

  .key-points-li {
    font-size: 15px;
    margin-bottom: 8px;
  }
}
